.mobilemenu
    nav.mobilemenu__nav
        a.mobilemenu__nav-item(href="#advantages") Преимущества
        a.mobilemenu__nav-item(href="#comparison") Сравнение
        a.mobilemenu__nav-item(href="#types") Виды пленки
        a.mobilemenu__nav-item(href="#instruction") Инструкция
    .mobilemenu__contacts
        a.mobilemenu__contacts-phone(href="tel:8 965-765-64-65")
            +svg('img-phone')
            span 8 965-765-64-65
        button.mobilemenu__contacts-callback Заказать звонок
