section.advantages#advantages
    img.advantages__bg-wave(src="../../assets/img/blue-line.svg", alt="BLue line")

    .wrapper
        h2.advantages__title Преимущества
        .advantages__list
            .advantages__item
                .advantages__item-img
                    +svg('img-advant1', '0 0 86 65', '86')
                .advantages__item-text Не разрушает поверхность
            .advantages__item
                .advantages__item-img
                    +svg('img-advant2')
                .advantages__item-text Легко демонтируется, не оставляя следов
            .advantages__item
                .advantages__item-img
                    +svg('img-advant3')
                .advantages__item-text Повторное использование
            .advantages__item
                .advantages__item-img
                    +svg('img-advant4')
                .advantages__item-text Не требует навыков монтажа
            .advantages__item
                .advantages__item-img
                    +svg('img-advant5')
                .advantages__item-text Легко очищается
            .advantages__item
                .advantages__item-img
                    +svg('img-advant6')
                .advantages__item-text Устойчива к механическим повереждениям