section.banner
    .banner__video
        img(src="../../assets/img/banner-video-preview.png", alt="")
        a.banner__video-play(href="https://www.youtube.com/watch?time_continue=1&v=m1k3Cpke4yU" data-fancybox="")
            +svg('img-big-play')

    //- orange bg
    +svg('img-blue-bg', '0 0 1014 1010')

    .wrapper
        .banner__content
            h2.banner__title Силиконовая плёнка на микроприсосках
            p.banner__text Наша компания является официальным представителем завода по производству материалов для наружной рекламы. В нашем каталоге вы сможете найти большой ассортимент продукции по доступным ценам и быстрой доставке.
