section.compare#compare
    +svg('img-blue-bg', '0 0 1014 1010')
    .wrapper
        h2.compare__title Сравним плёнку на микроприсосках со статической плёнкой
        .compare__list-header
            .compare__list-header-item  
                +svg('img-play-icon')
                span Плёнка на микроприсосках
            .compare__list-header-item  
                +svg('img-play-icon')
                span Статическая пленка
                

        .compare__list
            .compare__list-item
                .compare__list-item-text
                    .compare__list-item-text-title Плёнка на присосках 
                    p Подходит для всех видов УФ-печати, в том числе офсетная УФ-печать, широкоформатная УФ-печать, цифровая УФ-печать.
                .compare__list-item-img
                    +svg('img-print')
                    span Печать
                .compare__list-item-text
                    .compare__list-item-text-title Статическая плёнка 
                    p Не совместима с многими видами чернил и типов печати. Статический заряд затрудняет подачу листов при офсетной печати.
            .compare__list-item
                .compare__list-item-text
                    .compare__list-item-text-title Плёнка на присосках 
                    p От 6-ти месяцев до нескольких лет, в зависимости от количества использований и выбранного типа.
                .compare__list-item-img
                    +svg('img-time')
                    span Время использования
                .compare__list-item-text
                    .compare__list-item-text-title Статическая плёнка 
                    p До 3-x месяцев, затем теряет статический заряд.

            .compare__list-item
                .compare__list-item-text
                    .compare__list-item-text-title Плёнка на присосках 
                    p Любые гладкие поверхности — стекло, металл, керамика, а также полугладкие поверхности, покрытые известкой или другими фактурными материалами. <br><br>
                .compare__list-item-img
                    +svg('img-surface')
                    span Используемая поверхность
                .compare__list-item-text
                    .compare__list-item-text-title Статическая плёнка 
                    p Гладкие поверхности (стекло, металл, пластик).

            .compare__list-item
                .compare__list-item-text
                    .compare__list-item-text-title Плёнка на присосках 
                    p Плёнка на основе PET и PP полностью экологичные материалы.
                .compare__list-item-img
                    +svg('img-leaf')
                    span Экологичность
                .compare__list-item-text
                    .compare__list-item-text-title Статическая плёнка 
                    p На основе PVC пластика — не считается экологическим материалом.
            .compare__list-item
                .compare__list-item-text
                    .compare__list-item-text-title Плёнка на присосках 
                    p Снаружи помещения, внутри помещения. Оформление витрин магазинов, офисов, салонов. Рекламный материал для обклейки бытовой техники, кухонной техник, смартфонов. Оформление выставочных стендов. Использование в качестве материала для произвоства обучающих плакатов (школьные карты, схемы, таблицы).
                .compare__list-item-img
                    +svg('img-gear')
                    span Применение
                .compare__list-item-text
                    .compare__list-item-text-title Статическая плёнка 
                    p Только внутри помещения. Применение в качестве оформления витрин внутри помещения, одноразовый материал в качестве защитной пленки.