section.contacts
    .wrapper
        .contacts__content
            h2.contacts__title Контакты
            .contacts__list
                .contacts__list-item.wide
                    .contacts__list-item-img
                        +svg('img-place')
                    .contacts__list-item-text
                        span Офис
                        strong Химкинский бульвар 9 офис 7
                        span Адрес производителя
                        strong 317, B3, Yanning Tower, Dongyu Yanningyuan, Liuyang, Hunan Province, China
        
                .contacts__list-item
                    .contacts__list-item-img
                        +svg('img-mail')
                    .contacts__list-item-text
                        span E-mail
                        a(href="mailto:email@gmail.com") 
                            strong email@gmail.com
                .contacts__list-item
                    .contacts__list-item-img
                        +svg('img-phone', '0 0 15 15')
                    .contacts__list-item-text
                        span Телефон
                        a(href="tel:+ 7 (900) 099-99-00")
                            strong + 7 (900) 099-99-00

            .contacts__social
                a(href="#") 
                    +svg('img-telegram','0 0 31 31')
                a(href="#") 
                    +svg('img-viber','0 0 31 31')
                a(href="#") 
                    +svg('img-vk','0 0 31 31')
    .contacts__map
        iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A1e4d7b50e0a735313b08252940b7ce4efc5546dff26a999fd8583a166d5dfd49&source=constructor' width='100%' height='100%' frameborder='0')
