section.types
    img.types__bg-wave(src="../../assets/img/blue-line.svg", alt="Blue line")
    .wrapper
        .types__cards
            a.types__card(href="#")
                .types__card-img
                    svg( viewbox='0 0 117 84' xmlns='http://www.w3.org/2000/svg' version='1.1' preserveaspectratio='xMinYMin')
                        use(xlink:href='#img-roll')
                .types__card-title Прозрачная PET плёнка
            a.types__card(href="#")
                .types__card-img
                    svg( viewbox='0 0 117 84' xmlns='http://www.w3.org/2000/svg' version='1.1' preserveaspectratio='xMinYMin')
                        use(xlink:href='#img-roll')
                .types__card-title Белая PP плёнка
            a.types__card(href="#")
                .types__card-img
                    svg( viewbox='0 0 117 84' xmlns='http://www.w3.org/2000/svg' version='1.1' preserveaspectratio='xMinYMin')
                        use(xlink:href='#img-roll')
                .types__card-title Белая PET плёнка
                .types__card-description (для полугладких поверхностей)