section.types-slider#types
    //- слайдер с картинками
    include ../blocks/types-slider/types-slider__pictures.pug

    .wrapper
        //- слайдер с текстом
        include ../blocks/types-slider/types-slider__text.pug