doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SLK
    body
        //- MIXINS
        include mixins.pug
        //- SVG-SPRITE
        include svg-sprite.pug


        //- ОСНОВАНЯ ОБЕРТКА
        .wrap
            //- HEADER
            include sections/header.pug
            //- /HEADER
            
            //-BANNER
            include sections/banner.pug 
            //-/BANNER 



    

    script(src="../index.js")