mixin svg(name)
    - mod = mod || ''
        svg(xmlns='http://www.w3.org/2000/svg' version='1.1' preserveaspectratio='xMinYMin' class=`icon icon-`+ name)
            use(xlink:href="#" + name)
            