.types-slider__text
    .types-slider__buttons
        .swiper-button-prev
        .swiper-button-next
    .swiper-container
        .swiper-wrapper
            .swiper-slide
                .types-slider__text-slide
                    h2.types-slider__text-slide-title Прозрачная PET плёнка 
                    p Ультра прозрачная плёнка на микроприсосках на основе PET материала. Толщина 115 гр/м2 плюс толщина защитного слоя 55 гр/м2
                    .types-slider__text-slide-info
                        .types-slider__text-slide-info-item
                            strong Формат:
                            p 1000 x 707 мм
                        .types-slider__text-slide-info-item
                            strong Методы печати:
                            p Универсальная УФ-печать
                        .types-slider__text-slide-info-item
                            strong Применение:
                            p Внутри помещения, снаружи помещения. Использование в течение длительного промежутка времени (от 6 месяцев)
                        .types-slider__text-slide-info-item
                            strong Легкость монтажа:
                            p Без использования специальных средств
                        .types-slider__text-slide-info-item
                            strong Используемые поверхности:
                            p Гладкие поверхности (стекло, металл, пластик, керамика)
            .swiper-slide
                .types-slider__text-slide
                    h2.types-slider__text-slide-title Непрозрачная плёнка 
                    p Ультра прозрачная плёнка на микроприсосках на основе PET материала. Толщина 115 гр/м2 плюс толщина защитного слоя 55 гр/м2
                    .types-slider__text-slide-info
                        .types-slider__text-slide-info-item
                            strong Формат:
                            p Lorem, ipsum dolor.
                        .types-slider__text-slide-info-item
                            strong Методы печати:
                            p Lorem ipsum dolor sit.
                        .types-slider__text-slide-info-item
                            strong Применение:
                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate labore dolore modi mollitia.
                        .types-slider__text-slide-info-item
                            strong Легкость монтажа:
                            p Lorem, ipsum dolor sit amet consectetur adipisicing.
                        .types-slider__text-slide-info-item
                            strong Используемые поверхности:
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit.
            .swiper-slide
                .types-slider__text-slide
                    h2.types-slider__text-slide-title Lorem ipsum dolor sit.
                    p Ультра прозрачная плёнка на микроприсосках на основе PET материала. Толщина 115 гр/м2 плюс толщина защитного слоя 55 гр/м2
                    .types-slider__text-slide-info
                        .types-slider__text-slide-info-item
                            strong Формат:
                            p 1000 x 707 мм
                        .types-slider__text-slide-info-item
                            strong Методы печати:
                            p Универсальная УФ-печать
                        .types-slider__text-slide-info-item
                            strong Применение:
                            p Внутри помещения, снаружи помещения. Использование в течение длительного промежутка времени (от 6 месяцев)
                        .types-slider__text-slide-info-item
                            strong Легкость монтажа:
                            p Без использования специальных средств
                        .types-slider__text-slide-info-item
                            strong Используемые поверхности:
                            p Гладкие поверхности (стекло, металл, пластик, керамика)
    .types-slider__pagination.swiper-pagination